/* CarrouselProject.module.scss */

.Container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.LeftSide {
  width: 60%;
  position: relative;
}

.CanvasWrapper {
  width: 100%;
  height: 100%;
}

.RightSide {
  width: 40%;
  padding: 20px;
  color: #fff;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.RightSide h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

.RightSide p {
  font-size: 1.2em;
}

/* Styles pour la barre de défilement personnalisée */
.Scrollbar {
  position: absolute;
  bottom: 20px; /* Positionnez la barre juste en dessous du Canvas */
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Largeur de la barre */
  height: 8px; /* Épaisseur de la barre */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  z-index: 10;
  overflow: hidden;
  cursor: pointer; /* Indique que la barre est interactive */
}

.Thumb {
  width: 20%; /* Largeur du pouce en pourcentage de la barre */
  height: 100%;
  background: #fff;
  border-radius: 4px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateX(0%);
}

.Thumb:hover {
  background: #ddd;
}

.Thumb:active {
  background: #bbb;
}
.Card{
  object-fit: cover;

}

